body {
    
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 500px;
    width :400px;
}
#linkedin-logo{
    height:50px;
    width:50px;
}

.about-me{
   font-size:15px;
}
    .container {
     max-width: 800px;
    margin: 0 auto;
    font-size: 32px;
    color: #5f565f;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
        }

      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
      border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#8600b3;
}
li a:hover:not(.active) {
    background-color: #8600b3;
}

.active {
    background-color: #4CAF50;
}


li:last-child {
    border-right: none;
}
