body {
    
    font-family: sans-serif;
    margin-top: 60px;
}



.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 500px;
    width :400px;
}
#linkedin-logo{
    height:50px;
    width:50px;
}

  .container {
     background-color:yellow;
     max-width: 1200px;
     height:1260px;
    font-size: 32px;
   
    font-family: sans-serif;
    padding-left: 40px;
    padding-right: 40px;
        }

      ul {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
    background-color:black;
    position: fixed;
    top: 0;
    width: 80%;
}



li {
    float: left;
      border-right: 1px solid #bbb;
}

li a {
    display: block;
    font-family:cursive;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#8600b3;
}
li a:hover:not(.active) {
    background-color: #8600b3;
}

.active {
    background-color:#8600b3 ;
}


li:last-child {
    border-right: none;
}


.center {
    text-align: center;
}


.events{
    float:left;
    background-color:white;
    width:300px;
    height:400px;
}


.latestNews {
    float:right;
    width:300px;
    height:400px;
  background-color:pink;
}




.about-me{
   
    background-color:red;
   font-size:40px;
   font-weight:bold;
   color:purple;
}
  
